/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #111;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.search input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

.search button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.hero-content {
    flex: 1;
    padding-right: 50px;
   
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-content p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.hero-image img {
    max-width: 1600px;
    height: 600px;
}

.trending {
    padding: 50px 0;
}

.trending h2 {
    text-align: center;
    margin-bottom: 30px;
}

.trending-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.movie-card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.movie-card p {
    margin: 0;
}

footer {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}